MongoDB Connection
MONGODB_URI=mongodb+srv://parthnark_db_user:hera123@hera.fagbjag.mongodb.net/?appName=hera

Auth0 Configuration
AUTH0_SECRET=9f6515d7aa3fa8da0418e619c007f48255e1283c869b15b7f6799a3314114c71
AUTH0_DOMAIN=dev-g6ozstw8x5lxwii0.us.auth0.com
AUTH0_CLIENT_ID=6p19FGTFQPboWnZVULktHtx7QtXN9N3x
AUTH0_CLIENT_SECRET=PaxsTiCUC74kCT74ZF_HKyI3z21Ww7R6m5H7JABJQJYX_jyj9NJpdafFd7QaI5V2
APP_BASE_URL=http://localhost:3000/

Application
NODE_ENV=development